/* Color scheme Pink
----------------------------------------------- */
body .post-entry .read-more-button,
body .grid-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body .header-image .header-image-text .header-image-link {
  background-color: #f06097;                                   
}
body .menu-box ul ul,
body .menu-panel ul ul,
body .post-entry .read-more-button,
body .grid-entry .read-more-button,
body input[type="submit"],
body input[type="reset"],
body .header-image .header-image-text .header-image-link {
  border-color: #f06097;                     
}
body a,
body .site-title a,
body .menu-box a:hover,
body .menu-box :hover > a,
body #wrapper-header .menu-box .current-menu-item > a,
body #wrapper-header .menu-box .current-menu-ancestor > a,
body #wrapper-header .menu-box .current_page_item > a,
body #wrapper-header .menu-box .current-page-ancestor > a,
body .menu-panel a:hover,
body .menu-panel :hover > a,
body #wrapper-header .menu-panel .current-menu-item > a,
body #wrapper-header .menu-panel .current-menu-ancestor > a,
body #wrapper-header .menu-panel .current_page_item > a,
body #wrapper-header .menu-panel .current-page-ancestor > a,
body .post-entry .post-entry-headline a,
body .grid-entry .grid-entry-headline a,
body .sidebar-widget a {
  color: #f06097;       
}
body .post-entry .read-more-button:hover,
body .grid-entry .read-more-button:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #searchform .searchform-wrapper .send:hover {
  color: #f06097 !important;                                   
}
body #footer a,
body .footer-signature .footer-signature-content a {
  color: #ffc2da;                     
}