/*
Theme Name: NatureSpace
Theme URI: http://www.tomastoman.cz/naturespace/
Author: Tomas Toman
Author URI: http://www.tomastoman.cz/
Description: NatureSpace is an easily customizable multipurpose theme. It is a minimalistic, fully responsive and Retina ready theme that allows for easy viewing on any device. NatureSpace theme offers 3 pre-defined color schemes, 220 Google fonts, Theme Options panel for easy adaptation to your needs, selection between Boxed or Wide layout, 2 blog layouts (One Column and Masonry Grid), sidebar and footer widget areas, multiple header layouts, contact information in header, ability to set your header logo and favicon, theme documentation and much more. Supports popular plugins WooCommerce and Breadcrumb NavXT. Available in Czech, Danish, Dutch, English, French, German, Greek, Italian, Polish, Russian, Slovak, Spanish and Turkish.
Version: 1.1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, black, white, gray, blue, green, pink, one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-header, custom-colors, custom-menu, featured-images, full-width-template, sticky-post, theme-options, translation-ready, editor-style, rtl-language-support
Text Domain: naturespace
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: none;
  margin: 0;
	padding: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
  -ms-word-wrap: break-word;
  word-wrap:     break-word;
  font-family: "Open Sans", Arial, Helvetica, sans-serif; 
  line-height: 120%;
  margin: 30px 0 7px;                   
}
h1 {
  color: black;
  font-size: 26px;  
}
h2 {
  color: #222222;
  font-size: 22px;  
}
h3 {
  color: #333333;
  font-size: 19px;  
}
h4 {
  color: #444444;
  font-size: 17px;  
}
h5 {
  color: #555555;
  font-size: 15px;  
}
h6 {
  color: #666666;
  font-size: 14px;  
}
p, ul, ol, li, dl, address {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
  text-align: left;
}
ul {
  margin-left: 16px;   
}
ol {
	list-style-type: decimal;
  margin-left: 20px;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
dl {
  margin-bottom: 20px;   
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 5px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
	text-transform: uppercase;
}
a {
  color: #76a934;
  text-decoration: underline;           
}
a:hover {
  text-decoration: none;           
}
a img {
  border: none;      
}
img {
  height: auto; 
  max-width: 100%;   
}
table {
  font-size: 14px;
  width: 100%;      
}
table, td, th {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  text-align: left;
}
td, th {
  padding: 5px 8px;       
}
th {
  background: #555555;
  color: white;
  font-weight: bold;   
}
blockquote, q { 
  border-left: 1px solid #e3e3e3;
  clear: both;
  color: #333333;
  font-style: italic;
  margin: 0 0 20px;
  padding-left: 20px;
}
address {
  font-style: italic;        
}
pre {
  margin-bottom: 20px;
  overflow: auto;   
}
sup {
  vertical-align: super;    
}
sub {
  vertical-align: sub;    
}
iframe,
embed {
  clear: both;
  width: 100%;   
}
hr {
  background: #e3e3e3;
  border: none;
  height: 1px; 
  margin: 15px 0;  
}


/* WordPress Core
-------------------------------------------------------------- */

.alignnone {
  clear: both;
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  clear: both;
  display: block;
  margin: 5px auto 20px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption,
.gallery-caption {
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px;
  text-align: center;
}
#wrapper .gallery-caption {
  border: none;                          
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
#wrapper .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px;
}
.wp-audio-shortcode {
  margin-bottom: 20px;                   
}


/* basic structure
-------------------------------------------------------------- */

body {
  background: white;
  color: #222222;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;  
  line-height: 150%; 
}
.menu-panel-wrapper,
#wrapper-header,
#wrapper-content,
#wrapper-footer {
  float: left;
  height: auto;
  position: relative;
  width: 100%;        
}  
.footer-signature-content,
.menu-panel,
.container,
#footer {  
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  width: 100%; 
}  
#wrapper-header {
  z-index: 1000;                
}
#main-content {
  float: left;
  margin: 30px 0 10px;
  width: 840px;         
}
.page-template-template-full-width-php .container #main-content,
.page-template-template-landing-page-php .container #main-content {
  width: 100% !important;                                                      
}
#sidebar {
  float: right;
  margin: 30px 0 10px 30px;
  width: 300px;         
}
#wrapper-footer {
  background: #5d5d5d;                
}
.scroll-top {
  border: 1px solid #111111;
  color: #111111;
  cursor: pointer;
  display: block;
  font-size: 21px;
  height: 21px;
  line-height: 21px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  padding: 4px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  width: 21px;
  z-index: 2000; 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;           
}
#wrapper .scroll-top:hover {
  background: #555555;
  color: white;
  opacity: 1;
  filter: alpha(opacity=100);                             
}


/* header
-------------------------------------------------------------- */

.header-content-wrapper {
  border-bottom: 1px solid #ebebeb;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1000;                        
}
.header-content,
.top-navigation {
  height: auto;
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  width: 100%;                
}
.top-navigation-wrapper {
  border-bottom: 1px solid #ebebeb;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1500;                        
}
.title-box {
  float: left;
  width: 100%;           
}
.page-template-template-landing-page-php .title-box {
  width: 100% !important;                                                    
}
.menu-box {
  float: right;
  width: 50%;           
}
.site-title { 
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 44px;  
  line-height: 100%;
  margin: 30px 0; 
  position: relative;
  text-align: center;   
  width: auto;
  z-index: 50;        
}
.site-title a {
  color: #76a934;
  text-decoration: none; 
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;          
}
.site-title a:hover {
  color: #111111;                    
}
.header-logo {
  clear: both;
  display: block;
  height: auto;
  margin: 30px auto;
  max-width: 100%;
  position: relative;
  width: auto;             
}
.header-image {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ebebeb;
  float: left;
  height: auto;
  position: relative;
  width: 100%;              
}
.header-image .header-img {
  display: block;
  margin: 0 auto;
  position: relative;                      
}
.header-image .header-image-container {
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;                                      
}
.header-image .header-image-text-wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 1170px;                                        
}
.header-image .header-image-text {
  display: table-cell;
  height: 100%;
  margin: 0;
  vertical-align: middle;                                
}
.header-image .header-image-text .header-image-headline {
  color: white;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 100%;
  margin: 0 0 18px;
  position: relative; 
  text-align: center;
  width: 100%;                               
}
.header-image .header-image-text .header-image-link-wrapper {
  text-align: center;                                                            
}
.header-image .header-image-text .header-image-link {
  color: white !important;
  display: inline-block;
  font-size: 15px;
  line-height: 100%;
  padding: 10px 20px;
  text-decoration: none; 
}  

/* header menu */
/* 
This copyright notice must be untouched at all times.
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop3.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements. */

/* main menu - right aligned */
.menu-box ul {
  float: right;
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.menu-box ul ul {
  background: #ededed;
  border-top: 1px solid #76a934;
  width: 212px;
  z-index: 110;
}
.menu-box ul li {
  float: left;
  height: 106px;
  line-height: 106px;
  margin-left: 37px;
  position: relative;
}
.menu-box ul ul li {
  border-bottom: 1px solid #e3e3e3;
  display: block;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  position: relative;
  width: 212px;
}
#wrapper #wrapper-header .menu-box ul ul .last-menu-item {
  border-bottom: none;                          
}
.menu-box a,
.menu-box a:visited {
  color: #333333;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  height: 108px;
  line-height: 108px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;
}
#wrapper-header .menu-box ul ul a,
#wrapper-header .menu-box ul ul a:visited {
  color: #333333;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  padding-right: 12px;
  text-align: right;
  width: 200px;
}
#wrapper-header .menu-box ul ul ul a,
#wrapper-header .menu-box ul ul ul a:visited {
  color: #444444;
}
.menu-box a:hover,
.menu-box :hover > a {
  color: #76a934;
}
#wrapper-header .menu-box ul ul a:hover,
#wrapper-header .menu-box ul ul :hover > a {
  background-color: #dbdbdb;
  border-bottom: none;
  color: black;
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;
}
.menu-box ul ul {
  height: 0;
  position: absolute;
  right: 0px;
  top: 107px;
  visibility: hidden;
  width: 212px; 
}
.menu-box ul ul ul {
  left: -212px;
  top: -1px;
  width: 212px;
}
.menu-box ul li:hover ul,
.menu-box ul a:hover ul,
.top-navigation ul li:hover ul,
.top-navigation ul a:hover ul {
  height: auto;
  padding-bottom: 0;
  visibility: visible;
}
.menu-box ul :hover ul ul,
.top-navigation ul :hover ul ul {
  visibility: hidden;
}
.menu-box ul :hover ul :hover ul ul,
.top-navigation ul :hover ul :hover ul ul {
  visibility: hidden;
}
.menu-box ul :hover ul :hover ul,
.top-navigation ul :hover ul :hover ul {
  visibility: visible;
}
.menu-box ul :hover ul :hover ul :hover ul,
.top-navigation ul :hover ul :hover ul :hover ul {
  visibility: visible;
}
#wrapper-header .menu-box .current-menu-item > a,
#wrapper-header .menu-box .current-menu-ancestor > a,
#wrapper-header .menu-box .current_page_item > a,
#wrapper-header .menu-box .current-page-ancestor > a {
  color: #76a934;
}
#wrapper-header .menu-box .sub-menu .current-menu-item > a,
#wrapper-header .menu-box .sub-menu .current-menu-ancestor > a,
#wrapper-header .menu-box .sub-menu .current_page_item > a,
#wrapper-header .menu-box .sub-menu .current-page-ancestor > a {  
  color: black;
}

/* main menu - centered */
.menu-panel-wrapper {
  background: #f2f2f2;
  border-bottom: 1px solid #ebebeb;                    
}
.menu-panel {
  min-height: 45px;
  text-align: center;
  width: 100%;  
  z-index: 200;        
}
.menu-panel ul {
  list-style-type: none;
  margin: 0; 
  position: relative;
  text-align: center;
}
.menu-panel ul ul {
  background: #ededed;
  border-top: 1px solid #76a934;
  width: 212px;
  z-index: 110;
}
.menu-panel ul li {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  margin: 0;
  position: relative;
  vertical-align: bottom;
}
.menu-panel ul ul li {
  border-bottom: 1px solid #e3e3e3;
  display: block;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  position: relative;
  width: 212px;
}
#wrapper #wrapper-header .menu-panel ul ul .last-menu-item {
  border-bottom: none;                          
}
.menu-panel a,
.menu-panel a:visited {
  color: #333333;
  float: left;
  font-size: 14px;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  padding: 0 16px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;
}
#wrapper-header .menu-panel ul ul a,
#wrapper-header .menu-panel ul ul a:visited {
  color: #333333 !important;
  display: block;
  float: none;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  padding: 0 0 0 16px;
  text-align: left;
  width: 196px;
}
#wrapper-header .menu-panel ul ul ul a,
#wrapper-header .menu-panel ul ul ul a:visited {
  color: #444444 !important;
}
.menu-panel a:hover,
.menu-panel :hover > a {
  color: #76a934;
}
#wrapper-header .menu-panel ul ul a:hover,
#wrapper-header .menu-panel ul ul :hover > a {
  background-color: #dbdbdb !important;
  color: black !important;
  -webkit-transition: background-color 1s ease;
     -moz-transition: background-color 1s ease;
       -o-transition: background-color 1s ease;
      -ms-transition: background-color 1s ease;
          transition: background-color 1s ease;
}
.menu-panel ul ul {
  height: 0;
  position: absolute;
  left: 0px;
  top: 44px;
  visibility: hidden;
  width: 212px; 
}
.menu-panel ul ul ul {
  left: 212px;
  top: -1px;
  width: 212px;
}
.menu-panel ul li:hover ul,
.menu-panel ul a:hover ul {
  height: auto;
  padding-bottom: 0;
  visibility: visible;
}
.menu-panel ul :hover ul ul {
  visibility: hidden;
}
.menu-panel ul :hover ul :hover ul ul {
  visibility: hidden;
}
.menu-panel ul :hover ul :hover ul {
  visibility: visible;
}
.menu-panel ul :hover ul :hover ul :hover ul {
  visibility: visible;
}
#wrapper-header .menu-panel .current-menu-item > a,
#wrapper-header .menu-panel .current-menu-ancestor > a,
#wrapper-header .menu-panel .current_page_item > a,
#wrapper-header .menu-panel .current-page-ancestor > a {
  color: #76a934;
}
#wrapper-header .menu-panel .sub-menu .current-menu-item > a,
#wrapper-header .menu-panel .sub-menu .current-menu-ancestor > a,
#wrapper-header .menu-panel .sub-menu .current_page_item > a,
#wrapper-header .menu-panel .sub-menu .current-page-ancestor > a {  
  color: black;
}
#wrapper .sticky-nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 200;
}   
.admin-bar .sticky-nav {
  top: 32px !important;
}
.selectnav {
  display: none;
} 

/* Contact information panel */
.top-navigation {
  min-height: 34px;
  position: relative;
  text-align: center;              
}
.header-contact {
  color: #999999;
  float: left;
  font-size: 13px;
  line-height: 34px;
  margin: 0;                
}
.header-contact span {
  padding-right: 12px;                     
}
.header-contact span i {
  color: #aaaaaa; 
  padding-right: 4px;                      
}


/* main content
-------------------------------------------------------------- */

.content-headline {
  float: left;
  margin: 0 0 13px;
  width: 100%;                  
}
.entry-headline {
  color: black;
  font-size: 26px; 
  line-height: 100%;
  margin: 0 0 3px;
  padding: 0 0 8px;
  position: relative;
  text-transform: uppercase;
  z-index: 50;                                  
}
.home-latest-posts .entry-headline {
  margin-bottom: 22px;                                   
}
.entry-content {
  float: left;
  width: 100%;               
}
#main-content p,
#main-content ul,
#main-content ol,
#main-content table,
#main-content address {
  margin-bottom: 15px;           
}
#main-content ul ul,
#main-content ol ol,
#main-content ol ul,
#main-content ul ol {
  margin-bottom: 0;           
}  
.home-latest-posts,
.home-grid-posts {
  float: left;
  width: 100%;                  
}
#main-content .breadcrumb-navigation {
  color: #bbbbbb; 
  float: left; 
  font-size: 13px;
  line-height: 100%;
  margin: 0 0 7px;
  position: relative;
  width: 100%;                                      
}
.page-template-template-without-title-php #main-content .breadcrumb-navigation {
  margin: 5px 0 20px;                                                                          
}
#main-content .breadcrumb-navigation a {
  color: #999999 !important; 
  text-decoration: none;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;
}
#main-content .breadcrumb-navigation a:hover {
  color: #333333 !important; 
}
#main-content .post-meta {
  clear: both;
  color: #999999 !important; 
  font-size: 13px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 8px;        
}
.single #main-content .post-meta {
  margin: 0 0 20px; 
  padding: 0;                                         
}
#main-content .post-meta span {
  border-left: 1px solid #dbdbdb; 
  padding: 0 3px 0 7px;                             
}
#main-content .post-meta .post-info-author {
  border-left: none; 
  padding-left: 0;                                          
}
#main-content .post-meta i {
  margin-right: 2px;                           
}
.post-meta a {
  color: #999999 !important;
  text-decoration: none;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;             
}
.post-meta a:hover {
  color: #111111 !important;             
}
#main-content .author-info,
#main-content .archive-meta,
#main-content .number-of-results {
  border-bottom: 1px solid #e8e8e8;
  float: left; 
  margin-bottom: 25px;  
  width: 100%;                           
}
#main-content .number-of-results {
  padding-bottom: 10px;                                 
}
#main-content .author-info h2 {
  margin-top: 0;                              
}
#main-content .author-info .author-avatar {
  margin: 10px 0 5px;                                          
}
#main-content .page-link {
  color: #555555;
  font-size: 13px;                         
}
#nav-below,
#naturespace-post-nav,
.search .navigation {
  float: left;
  margin: 0 0 20px;
  width: 100%;           
}
#main-content #naturespace-post-nav {
  margin: 10px 0 20px;                                 
}
.nav-wrapper {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  float: left;
  padding: 5px 0;
  width: 100%;               
}
.navigation-headline {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 4px;                                          
}
.navigation .navigation-links {
  margin-bottom: 0 !important;                              
}
.navigation .navigation-links a {
  text-decoration: none;                                
}
.navigation .navigation-links a:hover {
  text-decoration: underline;                                
}
#main-content .nav-previous {
  float: left;
  margin: 0;
  width: 50%;                       
}
#main-content .nav-next {
  float: right;
  margin: 0;
  text-align: right;
  width: 50%;                       
}
#main-content .nav-previous a,
#main-content .nav-next a {
  text-decoration: none;                          
}
#main-content .nav-previous a:hover,
#main-content .nav-next a:hover {
  text-decoration: underline;                          
}
.post-edit-link {
  font-weight: bold;                
}

/* default post entry */
.post-entry {
  border-bottom: 1px solid #e8e8e8;
  float: left;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative; 
  width: 100%;           
}
#main-content .sticky {
  background-color: #f0f0f0;
  padding: 20px 3% 25px;
  width: 94%;                 
}
.post-entry-content-wrapper {
  padding: 3px 0 0;                           
}
.attachment-post-thumbnail { 
  display: block;
  float: left;
  height: auto;
  margin: 0 15px 5px 0;
  max-width: 40%;
  width: auto;
}
.single #main-content .attachment-post-thumbnail,
.page #main-content .attachment-post-thumbnail { 
  clear: both;
  display: block;
  float: none;
  margin: 0 0 20px;  
  max-width: 100%;
  padding: 0;
}
.post-entry-content {
  margin-bottom: -12px; 
  margin-top: -5px;                   
}
.post-entry-content h1 {
  font-size: 22px;  
}
.post-entry-content h2 {
  font-size: 20px;  
}
#main-content .post-entry .post-entry-headline {
  font-size: 22px;
  font-weight: normal;
  line-height: 100%;
  margin: 0 0 7px; 
  text-transform: uppercase;           
}
.post-entry .post-entry-headline a {
  color: #76a934;
  text-decoration: none;  
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;               
}
.post-entry .post-entry-headline a:hover {
  color: black;                       
}
.post-entry .read-more-button {
  background-color: #76a934;
  border: 1px solid #76a934;
  color: white !important;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  margin: 8px 0 3px;
  padding: 5px 8px;
  text-decoration: none;
  text-transform: uppercase; 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;                            
}
.post-entry .read-more-button:hover {
  background: none; 
  color: #76a934 !important;                                   
}

/* post entry - grid */
.home-grid-posts .entry-headline {
  margin-bottom: 20px;                                 
}
.js-masonry {
  float: left; 
  margin: 0 0 0 -10px;
  width: 100%;                     
}
.grid-entry {  
  padding: 0 0 20px;
  width: 33.33%;                          
}  
.grid-entry .grid-entry-inner {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 0 20px;
  padding: 0 0 15px;
  position: relative;                              
}
#main-content .js-masonry .sticky {
  background: none !important;
  padding: 0 0 20px;
  width: 33.33%;                 
}
#main-content .js-masonry .sticky .grid-entry-inner {
  background-color: #f0f0f0;
  padding: 15px;                                                      
}
.grid-entry .attachment-post-thumbnail { 
  clear: both;
  float: none;
  margin: 0 0 9px !important;
  max-width: 100%;
}
#main-content .grid-entry .grid-entry-headline {
  font-size: 22px;
  font-weight: normal;
  line-height: 100%;
  margin: 0 0 4px;   
  text-transform: uppercase;         
}
.grid-entry .grid-entry-headline a {
  color: #76a934;
  text-decoration: none;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;                 
}
.grid-entry .grid-entry-headline a:hover {
  color: black;                     
}
.grid-entry p {
  margin-bottom: 0 !important;  
  padding-bottom: 0 !important;                          
}
#main-content .grid-entry .post-meta {
  margin-top: 0;
  padding-bottom: 0;                         
}
.grid-entry .read-more-button {
  background-color: #76a934;
  border: 1px solid #76a934;
  color: white !important;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  margin: 3px 0;
  padding: 5px 8px;
  text-decoration: none;
  text-transform: uppercase; 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;                            
}
.grid-entry .read-more-button:hover {
  background: none; 
  color: #76a934 !important;                                    
}


/* sidebar
-------------------------------------------------------------- */

.sidebar-widget {
  color: #555555;
  float: left;
  font-size: 13px;
  margin-bottom: 25px;
  width: 100%;               
}
.sidebar-widget .sidebar-headline {
  background: #ededed;
  color: #222222;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 6px 10px;
  position: relative;  
  text-transform: uppercase;                               
}
.sidebar-widget .sidebar-headline a {
  color: #555555;
  text-decoration: none;                                    
}
.sidebar-widget img {
  height: auto;
  max-width: 100%;                    
}
.sidebar-widget table {
  font-size: 13px;                    
}
.sidebar-widget p {
  margin: 6px 0 -4px;                  
}
.sidebar-widget p,
.sidebar-widget ul li,
.sidebar-widget ol li {
  color: #555555;
  font-size: 13px;                   
}
.sidebar-widget ul { 
  margin: 5px 0 0;                      
}
.sidebar-widget ul ul {
  margin-top: 0;                      
}
.sidebar-widget ul li {
  line-height: 200%;
  list-style-type: none;
  padding-left: 10px;                     
} 
.sidebar-widget a {
  color: #76a934;
  text-decoration: underline;
  -webkit-transition: color 1s ease;
     -moz-transition: color 1s ease;
       -o-transition: color 1s ease;
      -ms-transition: color 1s ease;
          transition: color 1s ease;                       
}
.sidebar-widget ul li a {
  text-decoration: none;                        
}
.sidebar-widget a:hover {
  color: black !important;
  text-decoration: none;                       
}                                     


/* footer
-------------------------------------------------------------- */

#footer p,
#footer ul li,
#footer ol li {
  color: white;
  font-size: 13px;          
}
#footer .footer-widget-area p,
#footer .footer-widget-area ul,
#footer .footer-widget-area ol {
  margin-bottom: 2px;          
}
#footer table,
#footer td,
#footer th {
  border-color: #111111;
  color: white;
  font-size: 13px;                                      
}
#footer a {
  color: #d9ffa8;          
}
.footer-widget-area {
  float: left;
  height: auto;
  margin-right: 30px;
  padding: 30px 0 4px;
  position: relative; 
  width: 370px; 
  z-index: 50;                
}
#footer .footer-widget-area-3 {
  margin-right: 0;                              
}
.footer-widget {
  float: left;
  margin-bottom: 21px;
  width: 100%;               
}
#footer .footer-widget .footer-headline {
  border-bottom: 1px solid #707070;
  color: white;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 3px;
  padding-bottom: 8px;  
  text-transform: uppercase;                                
}
.footer-signature { 
  background: #444444;
  float: left;
  position: relative;
  width: 100%; 
  z-index: 50;       
}
.footer-signature .footer-signature-content {
  color: white;
  font-size: 13px;
  line-height: 22px;
  min-height: 42px;
  text-align: center;                                          
}
.footer-signature .footer-signature-content p {
  color: white;
  font-size: 13px;
  line-height: 22px;
  min-height: 22px;
  padding: 10px 0;
  text-align: center;                                              
}
.footer-signature .footer-signature-content a {
  color: #d9ffa8;                                             
}


/* default widgets
-------------------------------------------------------------- */

#wp-calendar th,
#wp-calendar td {
  text-align: center;                   
}
#wp-calendar a,
#wp-calendar #today {
  font-weight: bold;
  text-decoration: none;               
}
#wp-calendar #prev {
  text-align: left;                   
}
#wp-calendar #next {
  text-align: right;                   
}
.tagcloud {
  padding-top: 5px;          
}
#footer .tagcloud {
  padding-top: 0;          
}
.tagcloud a {
  text-decoration: none;          
}
.tagcloud a:hover {
  text-decoration: underline;          
}
.sidebar-widget img,
.footer-widget img {
  padding-top: 3px;                           
}
.sidebar-widget .wp-caption,
.footer-widget .wp-caption {
  border: none;
  margin-bottom: 10px;
  margin-right: 0;                          
}
.sidebar-widget .wp-caption img,
.footer-widget .wp-caption img {
  max-width: 100%;                           
}
.sidebar-widget select {
  margin-top: 3px;
  width: 100%;                       
}
.sidebar-widget #searchform {
  margin-top: 8px;                       
}


/* form fields
-------------------------------------------------------------- */

input[type="text"],
input[type="file"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select {
  background-color: white;
  border: 1px solid #e3e3e3;
  color: #333333;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: normal;
  padding: 5px;
  width: 50%;
}
textarea {
	overflow: auto;
	vertical-align: top;
  width: 98%;
}
input[type="submit"],
input[type="reset"] {
  border-radius: 0 !important;
  box-shadow: none;
  color: white !important;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  margin-top: 5px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none; 
  text-shadow: none;                  
}
input[type="submit"],
input[type="reset"],
.header-image .header-image-text .header-image-link {
  background: #76a934;
  border: 2px solid #76a934;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: none;  
  color: #76a934 !important;                   
}
.header-image .header-image-text .header-image-link:hover { 
  background: none;
  color: white !important;                   
}
#searchform .searchform-wrapper {
  height: 33px;
  position: relative;
  width: 100%;                                
}
#searchform .searchform-wrapper #s {
  background-color: white;
  border: 1px solid #e3e3e3;
  color: #aaaaaa; 
  font-size: 13px;
  height: 21px;
  padding: 5px 0 5px 3%;
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;              
}
#searchform .searchform-wrapper .send {
  background: none !important; 
  border: none;
  color: #111111 !important;
  cursor: pointer;
  font-family: ElegantIcons !important;
  font-size: 15px;    
  height: 33px;
  line-height: 33px;
  margin: 0; 
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center; 
  width: 33px;
  z-index: 20;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease; 
}
#searchform .searchform-wrapper .send:hover {
  background: none !important;
  color: #76a934 !important;
}
.search-no-results #searchform,
.error404 #searchform {
  margin-bottom: 25px;                               
}


/* comments area
-------------------------------------------------------------- */

#comments {
  float: left;
  margin-top: 25px; 
  width: 100%;        
}
.single .comments-area-post {
  margin-top: 5px !important;                            
}
.page #comments {
  margin-top: 16px !important;                            
}
#content .commentlist {
  list-style-type: none;
  margin-bottom: 30px;             
}
.commentlist .children {
  list-style-type: none;                       
}
.comment-reply-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0; 
  text-transform: uppercase;            
}
#comments .entry-headline-wrapper {
  margin-bottom: -21px;                        
}
#comments .entry-headline {
  background-image: none;
  border-bottom: none;
  color: #333333;
  font-size: 20px;
  font-weight: normal; 
  margin-bottom: -4px;
  padding: 0;                         
}
.comment-reply-link {
  font-size: 13px;                    
}
.comments-title {
  margin-top: 0;                
}
#comments .section-heading {
  font-weight: normal;              
}
#comments ol {
  color: #333333;
  margin-left: 0;             
}
#comments ol ol {
  margin: 0 20px;             
}
#comments ol li { 
  border-top: 1px solid #e8e8e8;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;                
}
#comments .avatar,
#comments .fn {
  float: left;
  margin: 0 6px 0 0;                  
}
#comments .fn {
  font-style: italic; 
  margin: 0 3px 0 0;             
}
#comments time,
#comments .edit-link {
  color: #555555;
  float: right; 
  font-size: 13px;              
}
#comments .comment-content {
  clear: both;
  padding-top: 10px;                          
}
#comments #comment-nav-below {
  float: left;
  margin: 10px 0 30px;
  width: 100%;                  
}
#comments input,
#comments textarea {
  margin-top: 7px;                
}
#content #commentform .form-allowed-tags {
  color: #707070; 
  font-size: 12px;                  
}  
#comments .bypostauthor {
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  color: black;
  margin-bottom: -15px;
  padding: 10px 30px;              
}
.reply {
  margin-top: -10px;
  width: 50%;      
}
#content .comment-content p {
  font-size: 13px;
  margin-bottom: 10px;                   
}
#content .comment-content .edit-link {
  margin: -15px 0 0;
  text-align: right; 
  width: 50%;                                    
}
#content .comment-content li {
  border: none;
  font-size: 13px;
  margin: 0;
  padding: 0;                             
}
#content #commentform p {
  color: #333333;
  font-size: 13px;
  margin-bottom: 5px;                        
}
#content #commentform .logged-in-as,
#content #commentform .comment-notes {
  margin-top: 0;         
}
#comments #respond {
  float: left; 
  margin-bottom: 20px;                  
}


/* media queries
-------------------------------------------------------------- */

@media screen and (max-width: 1170px) {
  body .footer-signature-content,
  body .menu-panel,
  body .container,
  body #footer,
  body .header-content,
  body .top-navigation {
    max-width: 960px;
}
  body #main-content {
    width: 630px;
}
  body .header-image .header-image-text-wrapper {
    width: 960px;
}
  body .footer-widget-area {
    width: 300px;
}
}

@media screen and (max-width: 990px) {
  #wrapper .header-image .header-image-text-wrapper,
  #wrapper .header-content,
  #wrapper .top-navigation,
  #wrapper .menu-panel,
  #wrapper .container,
  #wrapper #footer,
  #wrapper .footer-signature-content {
    max-width: 90%;
    width: 90%;                         
}
  #wrapper #main-content,
  #wrapper .top-navigation ul {
    max-width: 100% !important;
    width: 100% !important;                    
}
  #wrapper #sidebar {
    float: left;
    margin: 20px 0 10px;
    width: 100%;                    
}
  #wrapper #top-navigation,
  #wrapper .menu-panel-wrapper,
  #wrapper .header-image .header-image-text .header-image-link {
    max-width: 100%;                   
}
  #wrapper .header-contact {
    text-align: center;                           
}
  #wrapper .header-image .header-image-text .header-image-headline {
    width: 100%;                                                                   
}
  #wrapper #wrapper-header .header-content .title-box,
  #wrapper #wrapper-header .header-content .menu-box {
    float: left;
    width: 100% !important;           
}
  #wrapper #wrapper-header .header-content .menu-box {
    padding: 10px 0 30px;                                                     
}
  #wrapper #wrapper-header .header-content .site-title {
    max-width: 100%;               
}
  #wrapper #wrapper-header .header-content .header-logo {
    max-width: 100%;               
}
  .js #nav,
  .js #main-nav {
    display: none;
}
  .js .selectnav {
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    color: #333333;
    display: block;
    float: left;
    height: 37px;
    margin: 4px 0 0; 
    position: relative;
    width: 40%;
}
  .js .header-content .selectnav,
  .js .menu-panel-wrapper .selectnav {
    width: 100%;                                
}
  .js .menu-panel-wrapper .selectnav {
    margin-top: 4px;                                
}
  #wrapper .grid-entry,
  #wrapper #main-content .js-masonry .sticky {
    width: 50%;                          
}
  #wrapper #footer {
    padding: 30px 0 4px;                   
}
  #footer .footer-widget-area {
    margin: 0;
    padding: 0;
    width: 100%;                              
}
}

@media screen and (max-width: 782px) {
  .admin-bar #wrapper-header .sticky-nav {
    top: 46px !important;
} 
}

@media screen and (max-width: 600px) {
  .admin-bar #wrapper-header .sticky-nav {
    top: 0 !important;
}
  #wrapper .post-entry-thumbnail {
    max-width: 50%;                                               
} 
}

@media screen and (max-width: 500px) {
  #wrapper .container .grid-entry,
  #wrapper .container #main-content .js-masonry .sticky {
    width: 100%;                          
}
  #wrapper .grid-entry .grid-entry-inner,
  #wrapper .container #main-content .js-masonry {
    margin: 0 !important;                                         
}
  #wrapper .header-image .header-image-text .header-image-headline {
    font-size: 22px !important; 
    margin-bottom: 8px;                                                         
}
}


/* print
-------------------------------------------------------------- */

@media print {
	html body {
    background: none !important;      
    font-family: Arial, Helvetica, sans-serif !important;    
}
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
    font-family: Arial, Helvetica, sans-serif !important;        
}
  #wrapper-header,
  #wrapper-footer,
  #sidebar,
  #respond,
  .reply,
  .scroll-top {
    display: none !important;                                   
}
  #wrapper #container-boxed,
  .single-post #main-content,
  .page #main-content {
    width: 100% !important;         
}
  #wrapper #container-boxed-inner {
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;
}
}